.map {
    height: 100%;
}

table {
  overflow : auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient(circle, #2aa5d7, #1d96cc, #1386c1, #0f77b5, #1068a8);
}
body > .row, .map, .right-block, .left-block  {
  height: 100%;
}

body > .row {
    margin-bottom: 0;
}

body .card-panel {
    margin: 0;
}

.collection-header h5 {
    font-size: 24px;
    font-weight: 300;
}

body .collection.with-header {
    margin-top: 0;
}
body .card .card-content {
    padding: 8px;
}

body .card .card-content .card-title {
    margin-bottom: 0;
}

.btn {
    transform: translateX(-50%);
    left: 50%;
}

.row .col > .col {
    padding: 0;
}

@media only screen and (max-width: 600px) {
    body .collection.with-header {
        margin: 1rem 0 0.5rem 0
    }
}
/*.table-card{*/
    /*height: calc(100vh - 255px);*/
    /*overflow-y: auto;*/
/*}*/

.table-card.card .card-action {
    padding: 0 24px;
}

body .card.table-card {
    overflow-y: auto;
    max-height: calc(100vh - 296px);
    height: calc(100vh - 296px);
}

body .row {
    padding: 1rem;
}

.collection-header h6 {
    font-size : 1.2rem;
}